#container {
    height: 100vh;
}

#home {
    display: flex;
    gap: 10em;
    justify-content: space-evenly;
    padding-right: 7em;
    color: rgb(255, 255, 255);
    margin-bottom: 13em;
}

#home img {
    width: 23em;
    border-radius: 20px;
    
}

#projects {
    display: flex;
    gap: 5em;
    padding-right: 10em;
}

.title {
    text-align: center;
    font-size:2em;
    color: black;
}